body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: lightgrey;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.container {
  margin-top: 4em;
}

#welcome {
  margin-top: 14em;
  text-align: left;
}

#home-intro {
  font-size: 16px;
  padding-top: 8px;
}

#about-basic-passion {
  width: 600px;
}

.hobby {
  margin-top: 0.7em;
}

#projects-header {
  margin-bottom: 1.5em;
}