body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-image {
  background-image: url('https://images.unsplash.com/photo-1488415032361-b7e238421f1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1949&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header {
  font-size: 2.5rem;
}

.home-description {
  font-size: 2rem;
  margin-bottom: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-container {
  margin-top: 7em;
  text-align: left;
  color: aliceblue;
}

.link {
  font-weight: bolder;
  color: #00B5AD;
}

.hobby {
  margin-top: 0.7em;
}